body { font-family: 'Poppins', sans-serif; }
footer{background-color:#bababa}
footer .text-dark{color:#000}
footer .text-dark:hover{text-decoration:underline}
footer .list-unstyled{padding:0}
footer .list-unstyled li{display:inline;margin-right:15px}
h1, h2, h3 { font-family: 'Lora', serif; }
.hero { position: relative; height: 600px; color: white; text-align: center; overflow: hidden; }
.hero .jiffy-slider { position: absolute; width: 100%; height: 100%; top: 0; left: 0; overflow: hidden; }
.hero .jiffy-slider img { width: 100%; height: 100%; object-fit: cover; }
.hero h1, .hero p { position: relative; z-index: 2; }
.hero h1 { font-size: 3rem; }
.feature-icon { font-size: 50px; color: #007bff; }
.section { padding: 60px 0; }
.footer { background-color: #007bff; color: white; padding: 40px 0; position: relative; }
.footer .footer-links { display: flex; justify-content: center; flex-wrap: wrap; list-style: none; padding: 0; }
.footer .footer-links li { margin: 0 15px; }
.footer .footer-links a { color: white; text-decoration: none; }
.footer .footer-links a:hover { text-decoration: underline; }
.highlight { background-color: #007bff; color: white; font-weight: bold; }
.comparison-table { margin: 20px auto; }
.card { margin: 15px; transition: transform 0.2s, box-shadow 0.2s; text-decoration: none; color: inherit; border: none; border-radius: 15px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); height: 300px;}
.card:hover { transform: translateY(-5px); box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25); }
.card img { border-radius: 15px 15px 0 0; width: 100%; height: 70%; object-fit: cover; }
.card-body { padding: 15px; height: 30%; }
.card-info { text-align: center; padding: 10px; }
.name { font-style: italic; font-size: 15px; }
.card p {font-size:13px;}

@media (min-width: 768px) { .card { flex-direction: column; height: 300px; } }
@media (max-width: 767.98px) { .row { flex-direction: column; } }
 /* Container to hold the object */
        .responsive-object {
            display: flex;
            justify-content: center; /* Centering the object */
            align-items: center; /* Centering the object */
            width: 100%; /* Full width of the container */
            height: 0; /* Height will be set using padding-bottom */
            padding-bottom: 56.25%; /* Aspect ratio 16:9 (height/width = 9/16) */
            position: relative; /* Position relative to its normal position */
        }

        /* The object element */
        .responsive-object object {
            position: absolute; /* Positioning it within the container */
            top: 0;
            left: 0;
            width: 100%; /* Full width of the container */
            height: 100%; /* Full height of the container */
        }
